<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  

 
<link rel="stylesheet" href="static/css/all.min.css">

<!-- CSS -->

<link rel="stylesheet" type="text/css" href="static/css/style.css">


<script src="static/js/all.min.js"></script>

<!-- CSS -->

<link rel="stylesheet" type="text/css" href="static/css/style.css">


<script src="static/js/all.min.js"></script>


  <!-- Slick Slider -->




  <link rel="stylesheet" href="static/css/slick.css">
  <link rel="stylesheet" href="static/css/slick-theme.css">
  <script src="static/js/slick.min.js"></script>

  <!-- Init Slick Slider -->
  <script src="static/js/slick-init.js"></script>



  <!-- Animate On Scroll  -->



<link href="static/css/aos.css" rel="stylesheet">



  <title>Index</title>

<script src="static/js/main.js"></script>
</head>


<body>
<!-- Page Load Animation -->
<div class="loader">
<div id="pulse-loader">
  <div class="pulse-loader-1"></div>
  <div class="pulse-loader-2"></div>
</div>
</div>
<!-- Back to top button -->
<a id="backtotop"></a>



<!-- Navbar Starts -->
<nav class="navbar navbar-expand-lg navbar-light cs-nav bg_trans bg_white home_4" id="navbar">
  <a class="navbar-brand" href="#"><img src="static/picture/logo-dark.png" width="300" alt="Site Logo" class="site_logo logo_dark">
    <img src="static/picture/logo.png" width="300" alt="Site Logo" class="site_logo logo_sticky"></a>
  <button class="navbar-toggler navbar-toggle x collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarText" style="">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link drp_icon" href="#">Home <span class="sr-only">(current)</span></a>


         <ul class="nav-dropdown">
              <li><a href="index.html">Home 1</a></li>
              <li><a href="index-2.html">Home 2</a></li>
              <li><a href="index-3.html">Home 3</a></li>
              <li><a href="">Home 4</a></li>
              <li><a href="index-5.html">Home 5</a></li>
              <li><a href="index-6.html">Home 6</a></li>
          </ul>


      </li>

      <li class="nav-item">
        <a class="nav-link" href="about-us.html">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Services</a>
        <ul class="nav-dropdown">
              <li><a href="services.html">Services</a></li>
              <li><a href="service-details.html">Service Details</a></li>
          </ul>
      </li>

       <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Pages</a>
        <ul class="nav-dropdown">

          <li><a href="#" class="drp_icon_rt">Team</a>

            <ul class="nav-dropdown-sub">
              <li><a href="team.html">Team 1</a></li>
              <li><a href="team-2.html">Team 2</a></li>
      
            </ul>

          </li>
          <li><a href="testimonials.html">Testimonials </a></li>
          <li><a href="under-construction.html">Under Construction</a></li>
          <li><a href="error-404.html">Error Page</a></li>
          <li><a href="coming-soon.html">Coming Soon</a></li>
        </ul>
      </li>
      
       <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Projects</a>

        <ul class="nav-dropdown">


            <li><a href="#" class="drp_icon_rt">Grid Layout</a>

           <ul class="nav-dropdown-sub">
              <li><a href="portfolio-grid-1.html">1 Column</a></li>
              <li><a href="portfolio-grid-2.html">2 Column</a></li>
              <li><a href="portfolio-grid-3.html">3 Column</a></li>

            </ul>

            </li>
    

               <li><a href="portfolio-single-right-sidebar.html">Single Layout</a>
                

            </li>
        


        </ul>


      </li>



      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Blog</a>


        <ul class="nav-dropdown">


             <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog-grid-right-sidebar.html">Right Sidebar</a></li>
              <li><a href="blog-grid-left-sidebar.html">Left Sidebar</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>

          </ul>

      </li>

      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Contact Us</a>


        <ul class="nav-dropdown">


                   <li><a href="contact-us.html">Contact Us 1</a></li>
              <li><a href="contact-us-2.html">Contact Us 2</a></li>

          </ul>

      </li>
     
 
    </ul>

    <div class="search_container">
      <span class="search_icon">
      <input type="search" id="search">
      <label for="search"></label>
      </span>
    </div>

    <div class="get-quote mobile_hide">
      <a href="#">Request A Quote</a>
    </div>

  </div>
   
</nav>
<!-- Navbar Ends -->

<div id="luxy" class="home_4">


<!-- Background Container Starts -->
<div class="white-bg-abs ">


<!-- Top Section Starts -->

<div class="bg_clr2 pbt5_pr bg_repeated4 banner_dark">
  <div>
  <!-- <div class="wave"></div> -->
  <div class="wave_bg"></div>
<div class="container">
<div class="row banner_row">
  <div class="col-md-7">
    
<!-- Slider Container Starts -->
<!-- Slide 1 -->
  <div class="slider_container2">
  <h1 class="slider_h1 mw_80 banner_heading" data-aos="fade-up" data-aos-duration="500"><span class="cs_sp">
    Impressive Solutions For Impressive Business!</span></h1>
  
  <ul class="banner_ul">
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
  </ul>

  <div class="slider_btns mb-4" data-aos="fade-up" data-aos-duration="1500">
    <a href="#" class="cta_btn slider_btn_1">Get Free Trial</a>

  </div>
</div>
<!-- Slide 1 -->


<!-- Slider Container Ends -->
  </div>
    <div class="col-md-5 col_2_cs p_rel" data-aos="fade-up">

  <img src="static/picture/blog_img_5.jpg" alt="Col 2 Image" class="img-fluid col_2_img">

</div>
</div>
</div>
</div>
</div>

<!-- Top Section Ends -->



<!-- Services Section Starts -->

<div class="bg_gray">

<!-- Container Inner Starts -->



<div class="container services_multiple">

<!-- Col 2 starts -->

  <h5 class="gb gb_blue">Impressive Services</h5>
  <h2 data-aos="fade-up" class="slider_h1 col_2_h2"><span class="cs_sp">Our Top Notch Services</span></h2>



<div class="row col_2_custom">
  

<div class="col-md-6 col_2_cs pb-4" data-aos="fade-up">

  
    <div class="col_icons">
    
    <div class="col_4_img"><i class="fas fa-object-group fa-4x c__1"></i></div>
    <div class="col_icons_des">
      <h4 class="pt1">Web Design</h4>
      <p class="cgp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

</div>


<div class="col-md-6 col_2_cs pb-4" data-aos="fade-up">
  <div class="col_icons">
      
      <div class="col_4_img"><i class="fas fa-code fa-4x c__2"></i></div>
      <div class="col_icons_des">
        <h4 class="pt1">Web Development</h4>
        <p class="cgp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>  
    </div>
 </div>


<div class="col-md-6 col_2_cs pb-4" data-aos="fade-up">
  <div class="col_icons">
      
      <div class="col_4_img"><i class="fas fa-mobile fa-5x c__3"></i></div>
      <div class="col_icons_des">
        <h4 class="pt1">Web Development</h4>
        <p class="cgp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>  
    </div>
 </div>



<div class="col-md-6 col_2_cs pb-4" data-aos="fade-up">
  <div class="col_icons">
      
      <div class="col_4_img"><i class="fas fa-window-restore fa-5x c__4"></i></div>
      <div class="col_icons_des">
        <h4 class="pt1">Web Development</h4>
        <p class="cgp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>  
    </div>
 </div>



<div class="col-md-6 col_2_cs pb-4" data-aos="fade-up">
  <div class="col_icons">
      
      <div class="col_4_img"><i class="fas fa-star  c__5"></i></div>
      <div class="col_icons_des">
        <h4 class="pt1">Web Development</h4>
        <p class="cgp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>  
    </div>
 </div>



<div class="col-md-6 col_2_cs pb-4" data-aos="fade-up">
  <div class="col_icons">
      
      <div class="col_4_img"><i class="fas fa-database fa-5x c__6"></i></div>
      <div class="col_icons_des">
        <h4 class="pt1">Web Development</h4>
        <p class="cgp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>  
    </div>
 </div>



</div>

<!-- Col 2 ends -->


</div>  <!-- Container Inner Ends -->

</div>


<!-- Services Section Ends -->



<!-- Container Inner Starts -->

<div class="container">

<!-- Col 2 starts -->


<div class="row col_2_custom mt3">
  



<div class="col-md-6 col_2_cs p_rel" data-aos="fade-up">

  <img src="static/picture/blog_img_2.jpg" alt="Col 2 Image" class="img-fluid col_2_img">
  
</div>


<div class="col-md-6 col_2_cs" data-aos="fade-up">
  <h5 class="gb gb_blue">Highly Optimized</h5>
  <h2 data-aos="fade-up" class="slider_h1 col_2_h2"><span class="cs_sp">Easier Access and Fast Integration</span></h2>
  <p data-aos="fade-up" class="col_2_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>


  
<div class="row">
    <div class="col-md-6 pr-0">

      <div class="col-half-skills">
     
    <div class="mb-3">
      <svg width="35" x="0px" y="0px" viewbox="150 10 545 595.28">
       <path class="st0" fill="#00a4ff" d="M351.54,516.77l-39.52-67.9l-78.54-16.17l8.83-76.77l-49.93-58.5l49.93-57.98l-8.83-76.75l78.54-16.21  l39.52-68.39l69.71,32.39l69.71-32.39l40.05,68.41l78.01,16.19l-8.83,76.77l49.93,57.96l-49.93,58.5l8.83,76.77l-78.01,16.17  l-40.05,67.9l-69.71-32.39L351.54,516.77z M398.88,366.9l118.08-117.51l-23.4-21.42l-94.68,94.01l-49.4-51.69l-23.94,23.48  C325.55,293.77,398.88,366.9,398.88,366.9z"></path>
      </svg>
    Web Design</div>
    <div class="mb-3">
  <svg width="35" x="0px" y="0px" viewbox="150 10 545 595.28">
       <path class="st0" fill="#00a4ff" d="M351.54,516.77l-39.52-67.9l-78.54-16.17l8.83-76.77l-49.93-58.5l49.93-57.98l-8.83-76.75l78.54-16.21  l39.52-68.39l69.71,32.39l69.71-32.39l40.05,68.41l78.01,16.19l-8.83,76.77l49.93,57.96l-49.93,58.5l8.83,76.77l-78.01,16.17  l-40.05,67.9l-69.71-32.39L351.54,516.77z M398.88,366.9l118.08-117.51l-23.4-21.42l-94.68,94.01l-49.4-51.69l-23.94,23.48  C325.55,293.77,398.88,366.9,398.88,366.9z"></path>
      </svg>
    Web Development</div>
    <div class="mb-3">
 <svg width="35" x="0px" y="0px" viewbox="150 10 545 595.28">
       <path class="st0" fill="#00a4ff" d="M351.54,516.77l-39.52-67.9l-78.54-16.17l8.83-76.77l-49.93-58.5l49.93-57.98l-8.83-76.75l78.54-16.21  l39.52-68.39l69.71,32.39l69.71-32.39l40.05,68.41l78.01,16.19l-8.83,76.77l49.93,57.96l-49.93,58.5l8.83,76.77l-78.01,16.17  l-40.05,67.9l-69.71-32.39L351.54,516.77z M398.88,366.9l118.08-117.51l-23.4-21.42l-94.68,94.01l-49.4-51.69l-23.94,23.48  C325.55,293.77,398.88,366.9,398.88,366.9z"></path>
      </svg>
    Search Engine Optimization</div>


     
      </div>


          <div class="col-half-skills">
       

   
    </div>

    </div>


</div>

  <div class="c2_btn_col mt-4" data-aos="fade-up"><a href="#" class="cta_btn btn-lg btn_get_started">Get Started</a></div>
</div>




</div>

<!-- Col 2 ends -->


</div>  <!-- Container Inner Ends -->


<!-- Container Inner Starts -->

<div class="container">

<!-- Col 2 starts -->


<div class="row col_2_custom mt3">
  



<div class="col-md-6 col_2_cs" data-aos="fade-up">
  <h5 class="gb gb_blue">All In One Suite</h5>
  <h2 data-aos="fade-up" class="slider_h1 col_2_h2"><span class="cs_sp">Increase Revenue With Our Effective Tool</span></h2>
  <p data-aos="fade-up" class="col_2_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>


  

  <div class="c2_btn_col mt-4" data-aos="fade-up"><a href="#" class="cta_btn btn-lg btn_get_started">Read More</a></div>
</div>


<div class="col-md-6 col_2_cs p_rel" data-aos="fade-up">

  <img src="static/picture/blog_img_3.jpg" alt="Col 2 Image" class="img-fluid col_2_img">
  
</div>


</div>

<!-- Col 2 ends -->


</div>  <!-- Container Inner Ends -->




<!-- Reviews Section Starts -->

<div class="bg_colored bg_gray genr_spacing">

<div class="container">  <!-- Container Inner Starts -->

<h5 class="gb gb_blue">Clients Info</h5>

<h2 class="cs_h1 text-left pt-0" data-aos="fade-up"><span class="cs_sp">What Our Clients Say</span></h2>


<div class="reviews_section slider slider-portfolio slider_column">

<div class="rw_content" data-aos="fade-up" data-aos-duration="500">
    <div class="slide_wrapper">
    <div class="float_img"><img class="rw_img client_img_sm" src="static/picture/team-member-1.jpg" alt="Logo"></div>
    <div class="slide_content">
      <h3>John Doe</h3>
       <p class="rw_des">CEO</p>
     <div class="rw_stars">
     <i class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
   </div>

   <p class="rw_p pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   <div class="read_btn_div"><a href="#" class="read_btn">Read More 
      
      <svg enable-background="new 0 0 32 32" class="link_icon" version="1.1" viewbox="0 0 32 32" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.698,15.286l-9.002-8.999  c-0.395-0.394-1.035-0.394-1.431,0c-0.395,0.394-0.395,1.034,0,1.428L19.553,16l-8.287,8.285c-0.395,0.394-0.395,1.034,0,1.429  c0.395,0.394,1.036,0.394,1.431,0l9.002-8.999C22.088,16.325,22.088,15.675,21.698,15.286z" fill="#121313" fill-rule="evenodd"></path><g></g><g></g><g></g><g></g><g></g><g></g></svg>
    </a></div>
  </div>
  </div>
</div>


<div class="rw_content" data-aos="fade-up" data-aos-duration="500">
    <div class="slide_wrapper">
    <div class="float_img"><img class="rw_img client_img_sm" src="static/picture/team-member-2.jpg" alt="Logo"></div>
    <div class="slide_content">
      <h3>John Doe</h3>
       <p class="rw_des">CTO</p>
     <div class="rw_stars">
     <i class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
   </div>

   <p class="rw_p pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   <div class="read_btn_div"><a href="#" class="read_btn">Read More 
      
      <svg enable-background="new 0 0 32 32" class="link_icon" version="1.1" viewbox="0 0 32 32" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.698,15.286l-9.002-8.999  c-0.395-0.394-1.035-0.394-1.431,0c-0.395,0.394-0.395,1.034,0,1.428L19.553,16l-8.287,8.285c-0.395,0.394-0.395,1.034,0,1.429  c0.395,0.394,1.036,0.394,1.431,0l9.002-8.999C22.088,16.325,22.088,15.675,21.698,15.286z" fill="#121313" fill-rule="evenodd"></path><g></g><g></g><g></g><g></g><g></g><g></g></svg>
    </a></div>
  </div>
  </div>
</div>

<div class="rw_content" data-aos="fade-up" data-aos-duration="500">
    <div class="slide_wrapper">
    <div class="float_img"><img class="rw_img client_img_sm" src="static/picture/team-member-3.jpg" alt="Logo"></div>
    <div class="slide_content">
      <h3>John Doe</h3>
       <p class="rw_des">VP</p>
     <div class="rw_stars">
     <i class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
   </div>

   <p class="rw_p pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   <div class="read_btn_div"><a href="#" class="read_btn">Read More 
      
      <svg enable-background="new 0 0 32 32" class="link_icon" version="1.1" viewbox="0 0 32 32" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.698,15.286l-9.002-8.999  c-0.395-0.394-1.035-0.394-1.431,0c-0.395,0.394-0.395,1.034,0,1.428L19.553,16l-8.287,8.285c-0.395,0.394-0.395,1.034,0,1.429  c0.395,0.394,1.036,0.394,1.431,0l9.002-8.999C22.088,16.325,22.088,15.675,21.698,15.286z" fill="#121313" fill-rule="evenodd"></path><g></g><g></g><g></g><g></g><g></g><g></g></svg>
    </a></div>
  </div>
  </div>
</div>


<div class="rw_content" data-aos="fade-up" data-aos-duration="500">
    <div class="slide_wrapper">
    <div class="float_img"><img class="rw_img client_img_sm" src="static/picture/team-member-4.jpg" alt="Logo"></div>
    <div class="slide_content">
      <h3>John Doe</h3>
       <p class="rw_des">Marketing Manager</p>
     <div class="rw_stars">
     <i class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
   </div>
  
  
   <p class="rw_p pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   <div class="read_btn_div"><a href="#" class="read_btn">Read More 
      
      <svg enable-background="new 0 0 32 32" class="link_icon" version="1.1" viewbox="0 0 32 32" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.698,15.286l-9.002-8.999  c-0.395-0.394-1.035-0.394-1.431,0c-0.395,0.394-0.395,1.034,0,1.428L19.553,16l-8.287,8.285c-0.395,0.394-0.395,1.034,0,1.429  c0.395,0.394,1.036,0.394,1.431,0l9.002-8.999C22.088,16.325,22.088,15.675,21.698,15.286z" fill="#121313" fill-rule="evenodd"></path><g></g><g></g><g></g><g></g><g></g><g></g></svg>
    </a></div>
  </div>
  </div>
</div>




</div>




</div>  <!-- Container Inner Ends -->

</div>
<!-- Reviews Section Ends -->




<!-- Video Section Starts -->
<div class="video_counter">


<div class="container video_container">

  <h3 class="video_heading">Watch this short video to learn more about our business model.</h3>

  <div class="video-container">
  <div class="js-video ng-isolate-scope">
        <div class="video-poster">
        </div> 
          <div class="video_btn">
            <a id="play-video" class="video-play-button" href="#">
            <span></span>
            </a>
          </div>
        </div>
</div>
</div>


<div id="counter" class="counter_plain" data-aos="fade-up">
<div class="row counter_row perf_section justify-content-center">

<div class="counter_inner">
  <div class="col-md-3">
    <div><div class="counter-value" data-count="300">300</div></div>
    <h6>Projects Completed</h6>
  </div>


  <div class="col-md-3">
    
    <div><div class="counter-value" data-count="1500">1500</div></div>
    <h6>Projects Delivered</h6>
  </div>

  <div class="col-md-3">
    
    <div><div class="counter_percent"><span class="counter-value" data-count="100">100</span> <span class="counter-percent">%</span></div></div>
    <h6>Satisfied Clients</h6>
  </div>
</div>
  
</div>
</div>


</div>
<!-- Video Section Ends -->





<!-- Accordion starts -->

<div class="bg_repeated p_rel accordion_full">

<div class="container">

 <h5 class="gb gb_blue">Quick Info</h5>
<h1 data-aos="fade-up" class="slider_h1 col_2_h2 aos-init aos-animate">Frequently Asked <span class="cs_sp">Questions</span></h1>
 <p data-aos="fade-up" class="col_2_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


<div class="row col_2_custom banner_row pt0">
  


<div class="col-md-6 col_2_cs" data-aos="fade-up">




  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How can i starts a small business?
        </a>
      </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>



    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          What strategies are required for my business setup?
        </a>
      </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>




        <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          How can i attract more clients?
        </a>
      </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>

  </div>


</div>



<div class="col-md-6 col_2_cs" role="tablist" data-aos="fade-up">
  
    

     <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          How can i grow my business?
        </a>
      </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>

     <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          How to improve performance of my website?
        </a>
      </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>



    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          How to gather more leads?
        </a>
      </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>


</div>



</div>

</div>

</div>

<!-- Accordion ends -->




<!-- Testimonial Section Starts -->


<div class="custom_clients mt3 mb3 aos-init aos-animate" data-aos="fade-up">
  <div class="container">


   <div class="row justify-content-center">
      <div class="col-md-2">
          <img class="testimonials_img" src="static/picture/wordpress.png" alt="Logo">
      </div>
      <div class="col-md-2">
          <img class="testimonials_img" src="static/picture/jquery.png" alt="Logo">
      </div>
      <div class="col-md-2">
         <img class="testimonials_img" src="static/picture/bootstrap.png" alt="Logo">
      </div>
      <div class="col-md-2">
          <img class="testimonials_img" src="static/picture/css.png" alt="Logo">
      </div>
      <div class="col-md-2">
          <img class="testimonials_img" src="static/picture/jquery.png" alt="Logo">
      </div>
   </div>
  </div>
</div>

<!-- Testimonials Section Ends -->




<!-- Center Button Background Starts -->

<div class="center_btn_simple container center_btn_section grp mb-0 p_rel bg_repeated">
  <p class="center_section_heading c_white" data-aos="fade-up">Stunning Tools For Impressive Business</p>
  <div class="text-center" data-aos="fade-up"><h3 class="center_btn_h3_s pt-0 c_white">Get Started With Fully Packed Features Of This Theme With Amazing Design</h3></div>
  <div class="c2_btn_col" data-aos="fade-up"><a href="#" class="cta_btn started_btn">Get Started Today</a></div>
</div>

<!-- Center Button Background Ends -->



</div><!-- Container Ends -->



<!-- Background Container Ends -->

<!-- Subscribe Container Starts -->

<div class="subscribe_section btm_light mt_overlap">
   <div class="container">
     <div class="row mb-4">
       <div class="col-md-6">
           <h2 class="subscribe_heading">Subscribe to <strong>Our Newsletter</strong> Updates!</h2>


  <p class="subscribe_info">Get the latest notifications with our Newsletter Subscription service and get informed about new features of the tool.</p>
 
  
       </div>

       <div class="col-md-6">
            <form class="btm_sub_form">
    <div class="input-group mb-3">
 
  <input type="text" class="form-control" placeholder="Enter Your Email..." id="basic-url" aria-describedby="btm_submit">
   <div class="input-group-prepend">
    <span class="input-group-text" id="btm_submit">
      <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" fill="#fff" stroke="#fff"><title></title><path d="M22.984.638a.5.5,0,0,0-.718-.559L1.783,10.819a1.461,1.461,0,0,0-.1,2.527h0l4.56,2.882a.25.25,0,0,0,.3-.024L18.7,5.336a.249.249,0,0,1,.361.342L9.346,17.864a.25.25,0,0,0,.062.367L15.84,22.3a1.454,1.454,0,0,0,2.19-.895Z"></path><path d="M7.885,19.182a.251.251,0,0,0-.385.211c0,1.056,0,3.585,0,3.585a1,1,0,0,0,1.707.707l2.018-2.017a.251.251,0,0,0-.043-.388Z"></path></svg>
    </span>
  </div>
</div>
  </form>
       </div>
     </div>
   </div>
</div>

<!-- Subscribe Container Ends -->

<!-- Btm Container starts -->
<div class="btm_container btm_light">
<div class="container">

<div class="row">
  

<div class="col-md-3 cbtm_col">
  <div class="btm_logo mb-3">
    <a class="navbar-brand" href="#"><img src="static/picture/logo.png" width="300" alt="Site Logo" class="site_logo"></a>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="logos_btm">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

</div>

<div class="col-md-3 cbtm_col">
  <h6>Useful Links</h6>
  <ul class="btm_ul">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Contact Us</a></li>
  </ul>
</div>

<div class="col-md-3 cbtm_col">
  <h6>Useful Services</h6>
  <ul class="btm_ul">
  <li><a href="#">IT Support</a></li>
  <li><a href="#">Web Development</a></li>
  <li><a href="#">Mobile App Development</a></li>
  <li><a href="#">SEO</a></li>
  <li><a href="#">SEM</a></li>
  </ul>
</div>


<div class="col-md-3 cbtm_col">
  <h6>Address</h6>
   <p><i class="fa fa-envelope"></i> email@domain.com</p>
  <p><i class="fa fa-phone"></i> 111-111-111</p>
  <p><i class="fa fa-globe"></i> knowledgeaware.tk</p>
  
</div>



<div class="text-center cright"><p>Copyright &copy; 2024.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></div>

</div>
</div>
</div>
<!-- Btm container ends -->
</div>



<script src="static/js/luxy.js"></script>
<script src="static/js/counter.js"></script>
<script src="static/js/progress.js"></script>
<script src="static/js/circular-progress.js"></script>
<!-- Circular Scroll Script  -->
<script src="static/js/circle-progress.js"></script>
<script src="static/js/aos.js"></script>
<script src="static/js/aos-init.js"></script>
</body>
</html>