<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  

 
<link rel="stylesheet" href="static/css/all.min.css">

<!-- CSS -->

<link rel="stylesheet" type="text/css" href="static/css/style.css">


<script src="static/js/all.min.js"></script>

<!-- CSS -->

<link rel="stylesheet" type="text/css" href="static/css/style.css">


<script src="static/js/all.min1.js"></script>


  <!-- Slick Slider -->




  <link rel="stylesheet" type="text/css" href="static/css/slick.css">
  <link rel="stylesheet" type="text/css" href="static/css/slick-theme.css">
  <script src="static/js/slick.min.js"></script>

  <!-- Init Slick Slider -->
  <script src="static/js/slick-init.js"></script>


  <!-- Animate On Scroll  -->



<link href="static/css/aos.css" rel="stylesheet">



	<title>Portfolio Grid 3</title>

<script src="static/js/main.js"></script>
</head>


<body>
<!-- Page Load Animation -->
<div class="loader"></div>
<!-- Back to top button -->
<a id="backtotop"></a>


<!-- Navbar Starts -->
<nav class="navbar navbar-expand-lg navbar-light cs-nav bg_trans" id="navbar">
  <a class="navbar-brand" href="#"><img src="static/picture/logo.png" width="300" alt="Site Logo" class="site_logo"></a>
  <button class="navbar-toggler navbar-toggle x collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarText" style="">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link drp_icon" href="#">Home <span class="sr-only">(current)</span></a>


         <ul class="nav-dropdown">
              <li><a href="index.html">Home 1</a></li>
              <li><a href="index-2.html">Home 2</a></li>
              <li><a href="index-3.html">Home 3</a></li>
              <li><a href="index-4.html">Home 4</a></li>
              <li><a href="index-5.html">Home 5</a></li>
              <li><a href="index-6.html">Home 6</a></li>
          </ul>


      </li>

      <li class="nav-item">
        <a class="nav-link" href="about-us.html">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Services</a>
        <ul class="nav-dropdown">
              <li><a href="services.html">Services</a></li>
              <li><a href="service-details.html">Service Details</a></li>
          </ul>
      </li>

       <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Pages</a>
        <ul class="nav-dropdown">
            <li><a href="about-us.html">About Us</a>

            </li>
          <li><a href="#" class="drp_icon_rt">Team</a>

            <ul class="nav-dropdown-sub">
              <li><a href="team.html">Team 1</a></li>
              <li><a href="team-2.html">Team 2</a></li>
      
            </ul>

          </li>
          <li><a href="testimonials.html">Testimonials </a></li>
          <li><a href="under-construction.html">Under Construction</a></li>
          <li><a href="error-404.html">Error Page</a></li>
          <li><a href="coming-soon.html">Coming Soon</a></li>
        </ul>
      </li>
      
       <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Projects</a>

        <ul class="nav-dropdown">


            <li><a href="#" class="drp_icon_rt">Grid Layout</a>

           <ul class="nav-dropdown-sub">
              <li><a href="portfolio-grid-1.html">1 Column</a></li>
              <li><a href="portfolio-grid-2.html">2 Column</a></li>
              <li><a href="">3 Column</a></li>

            </ul>

            </li>
    

               <li><a href="portfolio-single-right-sidebar.html">Single Layout</a>
                

            </li>
        


        </ul>


      </li>



      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Blog</a>


        <ul class="nav-dropdown">


             <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog-grid-right-sidebar.html">Right Sidebar</a></li>
              <li><a href="blog-grid-left-sidebar.html">Left Sidebar</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>

          </ul>

      </li>

      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Contact Us</a>


        <ul class="nav-dropdown">


                   <li><a href="contact-us.html">Contact Us 1</a></li>
              <li><a href="contact-us-2.html">Contact Us 2</a></li>

          </ul>

      </li>
     
 
    </ul>

    <div class="search_container">
      <span class="search_icon">
      <input type="search" id="search">
      <label for="search"></label>
      </span>
    </div>

    <div class="get-quote mobile_hide">
      <a href="#">Request A Quote</a>
    </div>

  </div>
   
</nav>
<!-- Navbar Ends -->


<div id="luxy">

<!-- Background Container Starts -->
<div class="white-bg-abs">





<!-- Title Container Starts -->
<div class="cs_slider title_container text-center p_rel bg_repeated">
  <div class="slider_container over_lay">
  <h1 class="slider_h1 cs_sp text-center" data-aos="fade-up" data-aos-duration="500">Projects</h1>
  
 <ul class="page-breadcrumb">
          <li><a href="index.html">Projects</a></li>
          <li>3 Column</li>
        </ul>
</div>
</div>
<!-- Title Container Ends -->





<div class="container"> <!-- Container Inner Starts -->







<!--  Portfolio Col 1 Starts -->


<div class="row portfolio-section pch grp"> <!-- Portfolio row starts -->





<div class="col-md-4"> <!-- Portfolio Inner Col starts -->
 
<div class="portfolio-content">

<div class="portfolio-block"> <!-- Portfolio Block Starts -->
  <div class="portfolio-info pd12">
    <a href="#" class="tdn"><h1 class="portfolio-h1 f5 text-center">Lorem Ipsum</h1></a>
    <a href="#" class="tdn"><p class="portfolio-p text-center">Technology</p></a>
  </div>
  <div class="content-overlay">
<div class="testimonials_section slider slider-portfolio" data-aos="fade-up">
  <img class="portfolio_img" src="static/picture/portfolio_img_1.jpg" alt="Portfolio Image">
  <img class="portfolio_img" src="static/picture/portfolio_img_2.jpg" alt="Portfolio Image">
  
</div>

</div>

</div><!-- Portfolio Block Ends -->

</div>

</div> <!-- Portfolio Inner Col ends -->



<div class="col-md-4"> <!-- Portfolio Inner Col starts -->
 
<div class="portfolio-content"><!-- Portfolio Content Starts -->
<div class="portfolio-block"> <!-- Portfolio Block Starts -->
  <div class="portfolio-info pd12">
    <a href="portfolio-single.html" class="tdn"><h1 class="portfolio-h1 f5 text-center">Lorem Ipsum</h1></a>
    <p class="portfolio-p text-center">Technology</p>
  </div>
  <div class="content-overlay">

  <img class="portfolio_img" src="static/picture/portfolio_img_2.jpg" alt="Portfolio Image">

</div>
</div><!-- Portfolio Block Ends -->
</div>     <!-- Portfolio Content Ends -->
</div> <!-- Portfolio Inner Col ends -->




<div class="col-md-4"> <!-- Portfolio Inner Col starts -->
 

<div class="portfolio-content"><!-- Portfolio Content Starts -->
<div class="portfolio-block"> <!-- Portfolio Block Starts -->
  <div class="portfolio-info pd12">
    <a href="portfolio-single.html" class="tdn"><h1 class="portfolio-h1 f5 text-center">Lorem Ipsum</h1></a>
    <p class="portfolio-p text-center">Technology</p>
  </div>
  <div class="content-overlay">

  <img class="portfolio_img" src="static/picture/portfolio_img_3.jpg" alt="Portfolio Image">

</div>
</div><!-- Portfolio Block Ends -->
</div>     <!-- Portfolio Content Ends -->

</div> <!-- Portfolio Inner Col ends -->



<div class="col-md-4"> <!-- Portfolio Inner Col starts -->
 
<div class="portfolio-content"><!-- Portfolio Content Starts -->
<div class="portfolio-block"> <!-- Portfolio Block Starts -->
  <div class="portfolio-info pd12">
    <a href="portfolio-single.html" class="tdn"><h1 class="portfolio-h1 f5 text-center">Lorem Ipsum</h1></a>
    <p class="portfolio-p text-center">Technology</p>
  </div>
  <div class="content-overlay">

  <img class="portfolio_img" src="static/picture/portfolio_img_4.jpg" alt="Portfolio Image">

</div>
</div><!-- Portfolio Block Ends -->
</div>     <!-- Portfolio Content Ends -->

</div> <!-- Portfolio Inner Col ends -->



<div class="col-md-4"> <!-- Portfolio Inner Col starts -->
 
<div class="portfolio-content"><!-- Portfolio Content Starts -->
<div class="portfolio-block"> <!-- Portfolio Block Starts -->
  <div class="portfolio-info pd12">
    <a href="portfolio-single.html" class="tdn"><h1 class="portfolio-h1 f5 text-center">Lorem Ipsum</h1></a>
    <p class="portfolio-p text-center">Technology</p>
  </div>
  <div class="content-overlay">

  <img class="portfolio_img" src="static/picture/portfolio_img_5.jpg" alt="Portfolio Image">

</div>
</div><!-- Portfolio Block Ends -->
</div>     <!-- Portfolio Content Ends -->

</div> <!-- Portfolio Inner Col ends -->



<div class="col-md-4"> <!-- Portfolio Inner Col starts -->
 
<div class="portfolio-content"><!-- Portfolio Content Starts -->
<div class="portfolio-block"> <!-- Portfolio Block Starts -->
  <div class="portfolio-info pd12">
    <a href="portfolio-single.html" class="tdn"><h1 class="portfolio-h1 f5 text-center">Lorem Ipsum</h1></a>
    <p class="portfolio-p text-center">Technology</p>
  </div>
  <div class="content-overlay">

  <img class="portfolio_img" src="static/picture/portfolio_img_6.jpg" alt="Portfolio Image">

</div>
</div><!-- Portfolio Block Ends -->
</div>     <!-- Portfolio Content Ends -->

</div> <!-- Portfolio Inner Col ends -->



<div class="col-md-4"> <!-- Portfolio Inner Col starts -->
 
<div class="portfolio-content"><!-- Portfolio Content Starts -->
<div class="portfolio-block"> <!-- Portfolio Block Starts -->
  <div class="portfolio-info pd12">
    <a href="portfolio-single.html" class="tdn"><h1 class="portfolio-h1 f5 text-center">Lorem Ipsum</h1></a>
    <p class="portfolio-p text-center">Technology</p>
  </div>
  <div class="content-overlay">

  <img class="portfolio_img" src="static/picture/portfolio_img_7.jpg" alt="Portfolio Image">

</div>
</div><!-- Portfolio Block Ends -->
</div>     <!-- Portfolio Content Ends -->

</div> <!-- Portfolio Inner Col ends -->



<div class="col-md-4"> <!-- Portfolio Inner Col starts -->
 
<div class="portfolio-content">

<div class="portfolio-block"> <!-- Portfolio Block Starts -->
  <div class="portfolio-info pd12">
    <a href="#" class="tdn"><h1 class="portfolio-h1 f5 text-center">Lorem Ipsum</h1></a>
    <a href="#" class="tdn"><p class="portfolio-p text-center">Technology</p></a>
  </div>
  <div class="content-overlay">
<div class="testimonials_section slider slider-portfolio" data-aos="fade-up">
  <img class="portfolio_img" src="static/picture/portfolio_img_1.jpg" alt="Portfolio Image">
  <img class="portfolio_img" src="static/picture/portfolio_img_2.jpg" alt="Portfolio Image">
  
</div>

</div>

</div><!-- Portfolio Block Ends -->

</div>

</div> <!-- Portfolio Inner Col ends -->


<div class="col-md-4"> <!-- Portfolio Inner Col starts -->
 
<div class="portfolio-content">

<div class="portfolio-block"> <!-- Portfolio Block Starts -->
  <div class="portfolio-info pd12">
    <a href="#" class="tdn"><h1 class="portfolio-h1 f5 text-center">Lorem Ipsum</h1></a>
    <a href="#" class="tdn"><p class="portfolio-p text-center">Technology</p></a>
  </div>
  <div class="content-overlay">
<div class="testimonials_section slider slider-portfolio" data-aos="fade-up">
  <img class="portfolio_img" src="static/picture/portfolio_img_1.jpg" alt="Portfolio Image">
  <img class="portfolio_img" src="static/picture/portfolio_img_2.jpg" alt="Portfolio Image">
  
</div>

</div>

</div><!-- Portfolio Block Ends -->

</div>

</div> <!-- Portfolio Inner Col ends -->







</div> <!-- Portfolio row ends -->

<!-- Portfolio Col 1 Ends -->

</div>  <!-- Container Inner Ends -->




<!-- Container Ends -->
</div>


<!-- Subscribe Container Starts -->

<div class="subscribe_section btm_light">
   <div class="container">
     <div class="row mb-4">
       <div class="col-md-6">
           <h2 class="subscribe_heading">Subscribe to <strong>Our Newsletter</strong> Updates!</h2>


  <p class="subscribe_info">Get the latest notifications with our Newsletter Subscription service and get informed about new features of the tool.</p>
 
  
       </div>

       <div class="col-md-6">
            <form class="btm_sub_form">
    <div class="input-group mb-3">
 
  <input type="text" class="form-control" placeholder="Enter Your Email..." id="basic-url" aria-describedby="btm_submit">
   <div class="input-group-prepend">
    <span class="input-group-text" id="btm_submit">
      <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" fill="#fff" stroke="#fff"><title></title><path d="M22.984.638a.5.5,0,0,0-.718-.559L1.783,10.819a1.461,1.461,0,0,0-.1,2.527h0l4.56,2.882a.25.25,0,0,0,.3-.024L18.7,5.336a.249.249,0,0,1,.361.342L9.346,17.864a.25.25,0,0,0,.062.367L15.84,22.3a1.454,1.454,0,0,0,2.19-.895Z"></path><path d="M7.885,19.182a.251.251,0,0,0-.385.211c0,1.056,0,3.585,0,3.585a1,1,0,0,0,1.707.707l2.018-2.017a.251.251,0,0,0-.043-.388Z"></path></svg>
    </span>
  </div>
</div>
  </form>
       </div>
     </div>
   </div>
</div>

<!-- Subscribe Container Ends -->

<!-- Btm Container starts -->
<div class="btm_container btm_light">
<div class="container">

<div class="row">
  

<div class="col-md-3 cbtm_col">
  <div class="btm_logo mb-3">
    <a class="navbar-brand" href="#"><img src="static/picture/logo.png" width="300" alt="Site Logo" class="site_logo"></a>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="logos_btm">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

</div>

<div class="col-md-3 cbtm_col">
  <h6>Useful Links</h6>
  <ul class="btm_ul">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Contact Us</a></li>
  </ul>
</div>

<div class="col-md-3 cbtm_col">
  <h6>Useful Services</h6>
  <ul class="btm_ul">
  <li><a href="#">IT Support</a></li>
  <li><a href="#">Web Development</a></li>
  <li><a href="#">Mobile App Development</a></li>
  <li><a href="#">SEO</a></li>
  <li><a href="#">SEM</a></li>
  </ul>
</div>


<div class="col-md-3 cbtm_col">
  <h6>Address</h6>
   <p><i class="fa fa-envelope"></i> email@domain.com</p>
  <p><i class="fa fa-phone"></i> 111-111-111</p>
  <p><i class="fa fa-globe"></i> knowledgeaware.tk</p>
  
</div>



<div class="text-center cright"><p>Copyright &copy; 2024.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></div>

</div>
</div>
</div>
<!-- Btm container ends -->

</div>

<script src="static/js/luxy.js"></script>
<script src="static/js/aos.js"></script>
<script src="static/js/aos-init.js"></script>
</body>
</html>