<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  

 
<link rel="stylesheet" href="static/css/all.min.css">

<!-- CSS -->

<link rel="stylesheet" type="text/css" href="static/css/style.css">


<script src="static/js/all.min.js"></script>

  <!-- Slick Slider -->




  <link rel="stylesheet" type="text/css" href="static/css/slick.css">
  <link rel="stylesheet" type="text/css" href="static/css/slick-theme.css">
  <script src="static/js/slick.min.js"></script>

  <!-- Init Slick Slider -->
  <script src="static/js/slick-init.js"></script>



  <!-- Animate On Scroll  -->



<link href="static/css/aos.css" rel="stylesheet">



  <title>Service Details</title>

<script src="static/js/main.js"></script>
</head>


<body>
<!-- Page Load Animation -->
<div class="loader">
<div id="pulse-loader">
  <div class="pulse-loader-1"></div>
  <div class="pulse-loader-2"></div>
</div>
</div>
<!-- Back to top button -->
<a id="backtotop"></a>


<!-- Navbar Starts -->
<nav class="navbar navbar-expand-lg navbar-light cs-nav bg_trans" id="navbar">
  <a class="navbar-brand" href="#"><img src="static/picture/logo.png" width="300" alt="Site Logo" class="site_logo"></a>
  <button class="navbar-toggler navbar-toggle x collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarText" style="">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link drp_icon" href="#">Home <span class="sr-only">(current)</span></a>


         <ul class="nav-dropdown">
              <li><a href="index.html">Home 1</a></li>
              <li><a href="index-2.html">Home 2</a></li>
              <li><a href="index-3.html">Home 3</a></li>
              <li><a href="index-4.html">Home 4</a></li>
              <li><a href="index-5.html">Home 5</a></li>
              <li><a href="index-6.html">Home 6</a></li>
          </ul>


      </li>

      <li class="nav-item">
        <a class="nav-link" href="about-us.html">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Services</a>
        <ul class="nav-dropdown">
              <li><a href="services.html">Services</a></li>
              <li><a href="">Service Details</a></li>
          </ul>
      </li>

       <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Pages</a>
        <ul class="nav-dropdown">
            
          <li><a href="#" class="drp_icon_rt">Team</a>

            <ul class="nav-dropdown-sub">
              <li><a href="team.html">Team 1</a></li>
              <li><a href="team-2.html">Team 2</a></li>
      
            </ul>

          </li>
          <li><a href="testimonials.html">Testimonials </a></li>
          <li><a href="under-construction.html">Under Construction</a></li>
          <li><a href="error-404.html">Error Page</a></li>
          <li><a href="coming-soon.html">Coming Soon</a></li>
        </ul>
      </li>
      
       <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Projects</a>

        <ul class="nav-dropdown">


            <li><a href="#" class="drp_icon_rt">Grid Layout</a>

           <ul class="nav-dropdown-sub">
              <li><a href="portfolio-grid-1.html">1 Column</a></li>
              <li><a href="portfolio-grid-2.html">2 Column</a></li>
              <li><a href="portfolio-grid-3.html">3 Column</a></li>

            </ul>

            </li>
    

               <li><a href="portfolio-single-right-sidebar.html">Single Layout</a>
                

            </li>
        


        </ul>


      </li>



      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Blog</a>


        <ul class="nav-dropdown">


             <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog-grid-right-sidebar.html">Right Sidebar</a></li>
              <li><a href="blog-grid-left-sidebar.html">Left Sidebar</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>

          </ul>

      </li>

      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Contact Us</a>


        <ul class="nav-dropdown">


                   <li><a href="contact-us.html">Contact Us 1</a></li>
              <li><a href="contact-us-2.html">Contact Us 2</a></li>

          </ul>

      </li>
     
 
    </ul>

    <div class="search_container">
      <span class="search_icon">
      <input type="search" id="search">
      <label for="search"></label>
      </span>
    </div>

    <div class="get-quote mobile_hide">
      <a href="#">Request A Quote</a>
    </div>

  </div>
   
</nav>
<!-- Navbar Ends -->

<div id="luxy">

<!-- Background Container Starts -->
<div class="white-bg-abs">



<!-- Title Container Starts -->
<!-- Slide 1 -->
<div class="cs_slider title_container text-center p_rel bg_repeated">
  <div class="slider_container over_lay">
  <h1 class="slider_h1 cs_sp text-center" data-aos="fade-up" data-aos-duration="500">Service Details</h1>
  
 <ul class="page-breadcrumb">
          <li><a href="index.html">Services</a></li>
          <li>Service Details</li>
        </ul>
</div>
</div>
<!-- Slide 1 -->
<!-- Title Container Ends -->



<div class="container single_page"> <!-- Container Inner Starts -->







<div class="row blog-row"><!-- Blog Main Row Starts -->


<div class="col-md-8"><!-- Blog Main Col 8 Starts -->
  

<div class="row portfolio-section grp pb-0"> <!-- Portfolio row starts -->


<div class="col-md-12 portfolio-single pr-0 pl-0" data-aos="fade-right" data-aos-duration="1000">
  <div class="testimonials_section slider slider-portfolio">
  <img class="portfolio_img" src="static/picture/portfolio_img_2.jpg" alt="Portfolio Image">
  <img class="portfolio_img" src="static/picture/portfolio_img_1.jpg" alt="Portfolio Image">
  
</div>
</div>


</div> <!-- Portfolio row ends -->

<!-- Portfolio Description Row Starts -->

<div class="row project-description grp pb-0" data-aos="fade-up" data-aos-duration="1000">
  
<h2 class="slider_h1 text-left f9">Service <span class="cs_sp">Details</span></h2>

<p class="project-des-p">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<p class="project-des-p">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

</div>


<!-- Portfolio Description Row Ends -->


<!-- Col 6 Section Starts -->
<div class="col-4-section pb-0">

<!-- Container Starts -->
<div class="container serv_details pr-0 pl-0">

<div class="row col_2_custom">
  

<div class="col-md-6 col_2_cs pb-4 pr-1 pl-1 aos-init aos-animate" data-aos="fade-up">

  
    <div class="col_icons">
    
    <div class="col_4_img"><svg class="svg-inline--fa fa-object-group fa-w-16 fa-4x c__1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="object-group" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M480 128V96h20c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v20H64V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v40c0 6.627 5.373 12 12 12h20v320H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-20h384v20c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-20V128zM96 276V140c0-6.627 5.373-12 12-12h168c6.627 0 12 5.373 12 12v136c0 6.627-5.373 12-12 12H108c-6.627 0-12-5.373-12-12zm320 96c0 6.627-5.373 12-12 12H236c-6.627 0-12-5.373-12-12v-52h72c13.255 0 24-10.745 24-24v-72h84c6.627 0 12 5.373 12 12v136z"></path></svg><!-- <i class="fas fa-object-group fa-4x c__1"></i> --></div>
    <div class="col_icons_des">
      <h4 class="pt1">Web Design</h4>
      <p class="cgp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

</div>


<div class="col-md-6 col_2_cs pb-4 pr-1 pl-1 aos-init aos-animate" data-aos="fade-up">
  <div class="col_icons">
      
      <div class="col_4_img"><svg class="svg-inline--fa fa-code fa-w-20 fa-4x c__2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="code" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"></path></svg><!-- <i class="fas fa-code fa-4x c__2"></i> --></div>
      <div class="col_icons_des">
        <h4 class="pt1">Web Development</h4>
        <p class="cgp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>  
    </div>
 </div>


<div class="col-md-6 col_2_cs pb-4 pr-1 pl-1 aos-init aos-animate" data-aos="fade-up">
  <div class="col_icons">
      
      <div class="col_4_img"><svg class="svg-inline--fa fa-mobile fa-w-10 fa-5x c__3" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="mobile" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32z"></path></svg><!-- <i class="fas fa-mobile fa-5x c__3"></i> --></div>
      <div class="col_icons_des">
        <h4 class="pt1">Web Development</h4>
        <p class="cgp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>  
    </div>
 </div>



<div class="col-md-6 col_2_cs pb-4 pr-1 pl-1 aos-init aos-animate" data-aos="fade-up">
  <div class="col_icons">
      
      <div class="col_4_img"><svg class="svg-inline--fa fa-window-restore fa-w-16 fa-5x c__4" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="window-restore" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 48v288c0 26.5-21.5 48-48 48h-48V176c0-44.1-35.9-80-80-80H128V48c0-26.5 21.5-48 48-48h288c26.5 0 48 21.5 48 48zM384 176v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48h288c26.5 0 48 21.5 48 48zm-68 28c0-6.6-5.4-12-12-12H76c-6.6 0-12 5.4-12 12v52h252v-52z"></path></svg><!-- <i class="fas fa-window-restore fa-5x c__4"></i> --></div>
      <div class="col_icons_des">
        <h4 class="pt1">Web Development</h4>
        <p class="cgp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>  
    </div>
 </div>


</div>

</div>


</div>
<!-- Col 6 section ends -->

<p class="project-des-p mb3">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

</div><!-- Services Main Col 8 Ends -->

<div class="col-md-4 grp pl"><!-- Services Main Col 4 Starts -->
  



<!-- Our Services Section Starts -->


<div class="our-services">
  <h3 class="sbar-h5 f6">Our Services</h3>
<ul>
  <li><a href="#">Web Design</a></li>
  <li><a href="#">Web Development</a></li>
  <li><a href="#">Mobile App Development</a></li>
  <li><a href="#">SEO</a></li>
  <li><a href="#">SEM</a></li>
</ul>
</div>

<!-- Our Services Section Ends -->

<!-- Query Section Starts -->

<div class="query_section">
  <h2>For Any Queries</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <a href="#" class="cta_btn slider_btn_1 btn_wt">Call Now</a>
</div>

<!-- Query Section Ends -->


</div><!-- Blog Main Col 4 Ends -->

</div><!-- Blog Main Row Ends -->





</div>  <!-- Container Inner Ends -->





<!-- Container Ends -->
</div>



<!-- Subscribe Container Starts -->

<div class="subscribe_section btm_light">
   <div class="container">
     <div class="row mb-4">
       <div class="col-md-6">
           <h2 class="subscribe_heading">Subscribe to <strong>Our Newsletter</strong> Updates!</h2>


  <p class="subscribe_info">Get the latest notifications with our Newsletter Subscription service and get informed about new features of the tool.</p>
 
  
       </div>

       <div class="col-md-6">
            <form class="btm_sub_form">
    <div class="input-group mb-3">
 
  <input type="text" class="form-control" placeholder="Enter Your Email..." id="basic-url" aria-describedby="btm_submit">
   <div class="input-group-prepend">
    <span class="input-group-text" id="btm_submit">
      <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" fill="#fff" stroke="#fff"><title></title><path d="M22.984.638a.5.5,0,0,0-.718-.559L1.783,10.819a1.461,1.461,0,0,0-.1,2.527h0l4.56,2.882a.25.25,0,0,0,.3-.024L18.7,5.336a.249.249,0,0,1,.361.342L9.346,17.864a.25.25,0,0,0,.062.367L15.84,22.3a1.454,1.454,0,0,0,2.19-.895Z"></path><path d="M7.885,19.182a.251.251,0,0,0-.385.211c0,1.056,0,3.585,0,3.585a1,1,0,0,0,1.707.707l2.018-2.017a.251.251,0,0,0-.043-.388Z"></path></svg>
    </span>
  </div>
</div>
  </form>
       </div>
     </div>
   </div>
</div>

<!-- Subscribe Container Ends -->

<!-- Btm Container starts -->
<div class="btm_container btm_light">
<div class="container">

<div class="row">
  

<div class="col-md-3 cbtm_col">
  <div class="btm_logo mb-3">
    <a class="navbar-brand" href="#"><img src="static/picture/logo.png" width="300" alt="Site Logo" class="site_logo"></a>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="logos_btm">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

</div>

<div class="col-md-3 cbtm_col">
  <h6>Useful Links</h6>
  <ul class="btm_ul">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Contact Us</a></li>
  </ul>
</div>

<div class="col-md-3 cbtm_col">
  <h6>Useful Services</h6>
  <ul class="btm_ul">
  <li><a href="#">IT Support</a></li>
  <li><a href="#">Web Development</a></li>
  <li><a href="#">Mobile App Development</a></li>
  <li><a href="#">SEO</a></li>
  <li><a href="#">SEM</a></li>
  </ul>
</div>


<div class="col-md-3 cbtm_col">
  <h6>Address</h6>
   <p><i class="fa fa-envelope"></i> email@domain.com</p>
  <p><i class="fa fa-phone"></i> 111-111-111</p>
  <p><i class="fa fa-globe"></i> knowledgeaware.tk</p>
  
</div>



<div class="text-center cright"><p>Copyright &copy; 2024.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></div>

</div>
</div>
</div>
<!-- Btm container ends -->

</div>


<script src="static/js/luxy.js"></script>
<script src="static/js/aos.js"></script>
<script src="static/js/aos-init.js"></script>
</body>
</html>