<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  

 
<link rel="stylesheet" href="static/css/all.min.css">

<!-- CSS -->

<link rel="stylesheet" type="text/css" href="static/css/style.css">


<script src="static/js/all.min.js"></script>

  <!-- Slick Slider -->




  <link rel="stylesheet" type="text/css" href="static/css/slick.css">
  <link rel="stylesheet" type="text/css" href="static/css/slick-theme.css">
  <script src="static/js/slick.min.js"></script>

  <!-- Init Slick Slider -->
  <script src="static/js/slick-init.js"></script>



  <!-- Animate On Scroll  -->



<link href="static/css/aos.css" rel="stylesheet">



  <title>Blog Single Full</title>

<script src="static/js/main.js"></script>
</head>


<body>
<!-- Page Load Animation -->
<div class="loader">
<div id="pulse-loader">
  <div class="pulse-loader-1"></div>
  <div class="pulse-loader-2"></div>
</div>
</div>
<!-- Back to top button -->
<a id="backtotop"></a>


<!-- Navbar Starts -->
<nav class="navbar navbar-expand-lg navbar-light cs-nav bg_trans" id="navbar">
  <a class="navbar-brand" href="#"><img src="static/picture/logo.png" width="300" alt="Site Logo" class="site_logo"></a>
  <button class="navbar-toggler navbar-toggle x collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarText" style="">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link drp_icon" href="#">Home <span class="sr-only">(current)</span></a>


         <ul class="nav-dropdown">
              <li><a href="index.html">Home 1</a></li>
              <li><a href="index-2.html">Home 2</a></li>
              <li><a href="index-3.html">Home 3</a></li>
              <li><a href="index-4.html">Home 4</a></li>
              <li><a href="index-5.html">Home 5</a></li>
              <li><a href="index-6.html">Home 6</a></li>
          </ul>


      </li>

      <li class="nav-item">
        <a class="nav-link" href="about-us.html">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Services</a>
        <ul class="nav-dropdown">
              <li><a href="services.html">Services</a></li>
              <li><a href="service-details.html">Service Details</a></li>
          </ul>
      </li>

       <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Pages</a>
        <ul class="nav-dropdown">
          
          <li><a href="#" class="drp_icon_rt">Team</a>

            <ul class="nav-dropdown-sub">
              <li><a href="team.html">Team 1</a></li>
              <li><a href="team-2.html">Team 2</a></li>
      
            </ul>

          </li>
          <li><a href="testimonials.html">Testimonials </a></li>
          <li><a href="under-construction.html">Under Construction</a></li>
          <li><a href="error-404.html">Error Page</a></li>
          <li><a href="coming-soon.html">Coming Soon</a></li>
        </ul>
      </li>
      
       <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Projects</a>

        <ul class="nav-dropdown">


            <li><a href="#" class="drp_icon_rt">Grid Layout</a>

           <ul class="nav-dropdown-sub">
              <li><a href="portfolio-grid-1.html">1 Column</a></li>
              <li><a href="portfolio-grid-2.html">2 Column</a></li>
              <li><a href="portfolio-grid-3.html">3 Column</a></li>

            </ul>

            </li>
    

               <li><a href="portfolio-single-right-sidebar.html">Single Layout</a>
                

            </li>
        


        </ul>


      </li>



      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Blog</a>


        <ul class="nav-dropdown">


             <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog-grid-right-sidebar.html">Right Sidebar</a></li>
              <li><a href="blog-grid-left-sidebar.html">Left Sidebar</a></li>
              <li><a href="">Blog Single</a></li>

          </ul>

      </li>

      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Contact Us</a>


        <ul class="nav-dropdown">


                   <li><a href="contact-us.html">Contact Us 1</a></li>
              <li><a href="contact-us-2.html">Contact Us 2</a></li>

          </ul>

      </li>
     
 
    </ul>

    <div class="search_container">
      <span class="search_icon">
      <input type="search" id="search">
      <label for="search"></label>
      </span>
    </div>

    <div class="get-quote mobile_hide">
      <a href="#">Request A Quote</a>
    </div>

  </div>
   
</nav>
<!-- Navbar Ends -->


<div id="luxy">

<!-- Background Container Starts -->
<div class="white-bg-abs">





<!-- Title Container Starts -->
<div class="cs_slider title_container text-center p_rel bg_repeated">
  <div class="slider_container over_lay">
  <h1 class="slider_h1 cs_sp text-center" data-aos="fade-up" data-aos-duration="500">Blogs</h1>
  
 <ul class="page-breadcrumb">
          <li><a href="index.html">Blogs</a></li>
          <li>Blog Details</li>
        </ul>
</div>
</div>
<!-- Title Container Ends -->




<div class="container"> <!-- Container Inner Starts -->







<div class="row blog-row"><!-- Blog Main Row Starts -->


<div class="col-md-8"><!-- Blog Main Col 8 Starts -->
  

<!--  Portfolio Col 1 Starts -->


<div class="row portfolio-section grp"> <!-- Blog row starts -->





<div class="col-md-12"> <!-- Blog Inner Col starts -->
 
<div class="blog-content pb3"> <!-- Blog Content Starts -->


<div class="testimonials_section" data-aos="flip-up">
  <img class="portfolio_img" src="static/picture/portfolio_img_1.jpg" alt="Portfolio Image">
</div>

<h3 class="blog_title f6">Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>

<div class="blog-meta text-left pl-0">

  <span class="blog-meta-span"><i class="far fa-calendar"></i> Feburary 1 2020</span>

<span class="blog-meta-span"><i class="far fa-user"></i>By User</span>

<span class="blog-meta-span"><i class="far fa-comment"></i>5 Comments</span>


    

</div> <!-- Blog Meta Ends -->

    <div class="blog-content-p">
      <p class="blog_single_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <p class="blog_single_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


      <h4 class="f5">Lorem ipsum dolor sit amet consectetur adipiscing elit</h4>

      <p class="blog_single_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <p class="blog_single_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <p class="blog_single_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>


    
    

</div> <!-- Blog Content Ends -->



<div class="row blog_des_row">
  <div class="col-6">
    <div class="tag-section">
  <span class="tag-content">business</span>
  <span class="tag-content">Corporate</span>
  <span class="tag-content">Technology</span>
  <span class="tag-content">Popular</span>
  <span class="tag-content">Trending</span>
</div>
  </div>
  <div class="col-6 text-right">
    <div class="social-blog-icons">
 
 <div class="logos_btm">

   <span class="share-info">Share On</span>  
    <a href="#"><i class="fab fa-facebook-f blog-social"></i></a>
  <a href="#"><i class="fab fa-instagram blog-social"></i></a>
  <a href="#"><i class="fab fa-youtube blog-social"></i></a>
  </div>

    </div>
  </div>
</div>

</div> <!-- Blog Inner Col ends -->




</div> <!-- Blog row ends -->


<!-- Author Section Starts -->
<h3>Author</h3>
<div class="row author-row grp">

  <div class="col-3 col-md-2 col-lg-1 col-sm-3 col-xs-3 recent-posts-img"><img class="author_img" src="static/picture/team-member-1.jpg" alt="Portfolio Image"></div>
  <div class="col-9 col-md-10 col-lg-11 col-sm-9 col-xs-9 recent-posts-info">
    <h6 class="f5">Blog Author</h6>

    <p class="author_p">Lorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elit</p>
  </div>
</div>

<!-- Author Section Ends -->

<!-- Comments Section Starts -->
<div class="comments-section mg3">
  <h4 class="fb pt1">Comments</h4>

  <!-- Comment User Section Starts -->


<div class="row author-row grp">
  <div class="col-3 col-md-2 col-lg-1 col-sm-3 col-xs-3 recent-posts-img"><img class="author_img" src="static/picture/team-member-3.jpg" alt="Portfolio Image"></div>
  <div class="col-9 col-md-10 col-lg-11 col-sm-9 col-xs-9 recent-posts-info">
    
    <h6 class="f5">User</h6>
    <p class="comment-meta">6 April 2020 at 8:16pm</p>
    <p class="author_p">Lorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elit</p>
    <div class="comment-reply"><a href="#"><i class="fas fa-reply"></i> Reply</a></div>
  </div>
</div>

 <!-- Comment User Section Ends -->

<!-- Reply User Section Starts -->


<div class="row author-row grp replied-comment">
  <div class="col-3 col-md-2 col-lg-1 col-sm-3 col-xs-3 recent-posts-img"><img class="author_img" src="static/picture/team-member-4.jpg" alt="Portfolio Image"></div>
  <div class="col-9 col-md-10 col-lg-11 col-sm-9 col-xs-9 recent-posts-info">
    
    <h6 class="f5">User</h6>
    <p class="comment-meta">6 April 2020 at 8:16pm</p>
    <p class="author_p">Lorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elit</p>
    <div class="comment-reply"><a href="#"><i class="fas fa-reply"></i> Reply</a></div>
  </div>
</div>

 <!-- Reply User Section Ends -->

 <!-- Reply User Section Starts -->


<div class="row author-row grp replied-comment">
  <div class="col-3 col-md-2 col-lg-1 col-sm-3 col-xs-3 recent-posts-img"><img class="author_img" src="static/picture/team-member-2.jpg" alt="Portfolio Image"></div>
  <div class="col-9 col-md-10 col-lg-11 col-sm-9 col-xs-9 recent-posts-info">
    
    <h6 class="f5">User</h6>
    <p class="comment-meta">6 April 2020 at 8:16pm</p>
    <p class="author_p">Lorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elit</p>
    <div class="comment-reply"><a href="#"><i class="fas fa-reply"></i> Reply</a></div>
  </div>
</div>

 <!-- Reply User Section Ends -->

   <!-- Comment User Section Starts -->


<div class="row author-row grp">
  <div class="col-3 col-md-2 col-lg-1 col-sm-3 col-xs-3 recent-posts-img"><img class="author_img" src="static/picture/team-member-1.jpg" alt="Portfolio Image"></div>
  <div class="col-9 col-md-10 col-lg-11 col-sm-9 col-xs-9 recent-posts-info">
    
    <h6 class="f5">User</h6>
    <p class="comment-meta">6 April 2020 at 8:16pm</p>
    <p class="author_p">Lorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elit</p>
    <div class="comment-reply"><a href="#"><i class="fas fa-reply"></i> Reply</a></div>
  </div>
</div>

 <!-- Comment User Section Ends -->


   <!-- Comment User Section Starts -->


<div class="row author-row grp">
  <div class="col-3 col-md-2 col-lg-1 col-sm-3 col-xs-3 recent-posts-img"><img class="author_img" src="static/picture/team-member-4.jpg" alt="Portfolio Image"></div>
  <div class="col-9 col-md-10 col-lg-11 col-sm-9 col-xs-9 recent-posts-info">
    
    <h6 class="f5">User</h6>
    <p class="comment-meta">6 April 2020 at 8:16pm</p>
    <p class="author_p">Lorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor sit amet consectetur adipiscing elit</p>
    <div class="comment-reply"><a href="#"><i class="fas fa-reply"></i> Reply</a></div>
  </div>
</div>

 <!-- Comment User Section Ends -->

<!-- Leave A Comment Section Starts -->


<h3 class="fb">Leave A Comment</h3>
<div class="comment-form grp">
  <form action="/action_page.php" class="needs-validation" novalidate="">
  <div class="row">
    <div class="col">
      <label for="uname">Full Name:</label>
      <input type="text" class="form-control" id="uname" name="uname" required="">
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="col">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" required="">
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
  </div>
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input type="text" class="form-control" id="subject" name="Subject" required="">
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="msg">Message:</label>
      <textarea rows="10" cols="15" type="text" class="form-control" id="msg" name="msg" required=""></textarea>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <button type="submit" class="contact-btn">Post Comment</button>
  </form>
</div>



<!-- Leave A Comment Section Ends -->

<!-- Related Blogs Starts -->

<div class="related-projects">
  <div class="related-projects-inner">
      <h3 class="slider_h1 text-left f9">Latest <span class="cs_sp">Blogs</span></h3>

<div class="row"> <!-- Row starts -->
<!-- Col 4 Starts -->
<div class="col-md-4">
  
<div class="portfolio_img_div">
  <img class="portfolio_img" src="static/picture/portfolio_img_1.jpg" alt="Portfolio Image">

</div>
<div class="portfolio_btn_col"><a href="#" class="view-project">View Blog</a></div>

</div>
<!-- Col 4 Ends -->

<div class="col-md-4">
  
<div class="portfolio_img_div">
  <img class="portfolio_img" src="static/picture/portfolio_img_1.jpg" alt="Portfolio Image">
</div>
  <div class="portfolio_btn_col"><a href="#" class="view-project">View Blog</a></div>


</div>
<!-- Col 4 Ends -->

<div class="col-md-4">
  
<div class="portfolio_img_div">
  <img class="portfolio_img" src="static/picture/portfolio_img_1.jpg" alt="Portfolio Image">
</div>
  <div class="portfolio_btn_col"><a href="#" class="view-project">View Blog</a></div>

</div>
<!-- Col 4 Ends -->



</div><!-- Row Ends -->
  </div>
</div> <!-- Related Blogs Ends -->

</div><!-- Blog Main Col 8 Ends -->

</div>


<div class="col-md-4 grp pl"><!-- Blog Main Col 4 Starts -->
  


<!-- Search Bar Starts -->
<div class="search-bar">
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 blog-srch" type="search" placeholder="Search" aria-label="Search">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <button class="btn btn-outline-success my-2 my-sm-0 cs_srch" type="submit">
           <span class="srch_inp1"></span>
           <span class="srch_inp2"></span>
         </button>
    </form>
</div>

<!-- Search Bar Ends -->

<!-- Tag Section Starts -->


<div class="tag-section">
  <h3 class="sbar-h5 f6">Tags</h3>
  <a href="#"><span class="tag-content">business</span></a>
  <a href="#"><span class="tag-content">Corporate</span></a>
  <a href="#"><span class="tag-content">Technology</span></a>
  <a href="#"><span class="tag-content">Popular</span></a>
  <a href="#"><span class="tag-content">Trending</span></a>
</div>

<!-- Tag Section Ends -->




<!-- Categories Section Starts -->


<div class="Categories-section">
  <h3 class="sbar-h5 f6">Categories</h3>
  <p class="category-content">Business</p>
  <p class="category-content">Technology</p>
  <p class="category-content">General</p>
  <p class="category-content">Creative</p>
  <p class="category-content">Corporate</p>

</div>

<!-- Categories Section Ends -->


<!-- Recent Posts Section Starts -->


<div class="recent-posts-section">
<h3 class="sbar-h5 f6">Recent Posts</h3>


<!-- Recent Posts Row Starts -->
<div class="row recent-posts-row">
  <div class="col-4 recent-posts-img"><img class="portfolio_img" src="static/picture/portfolio_img_3.jpg" alt="Portfolio Image"></div>
  <div class="col-8 recent-posts-info">
    <h5 class="f5">Lorem Ipsum</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
  </div>
</div>
<!-- Recent Posts Row Ends -->

<!-- Recent Posts Row Starts -->
<div class="row recent-posts-row">
  <div class="col-4 recent-posts-img"><img class="portfolio_img" src="static/picture/portfolio_img_2.jpg" alt="Portfolio Image"></div>
  <div class="col-8 recent-posts-info">
    <h5 class="f5">Lorem Ipsum</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
  </div>
</div>
<!-- Recent Posts Row Ends -->

<!-- Recent Posts Row Starts -->
<div class="row recent-posts-row">
  <div class="col-4 recent-posts-img"><img class="portfolio_img" src="static/picture/portfolio_img_4.jpg" alt="Portfolio Image"></div>
  <div class="col-8 recent-posts-info">
    <h5 class="f5">Lorem Ipsum</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
  </div>
</div>
<!-- Recent Posts Row Ends -->

<!-- Recent Posts Row Starts -->
<div class="row recent-posts-row">
  <div class="col-4 recent-posts-img"><img class="portfolio_img" src="static/picture/portfolio_img_1.jpg" alt="Portfolio Image"></div>
  <div class="col-8 recent-posts-info">
    <h5 class="f5">Lorem Ipsum</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
  </div>
</div>
<!-- Recent Posts Row Ends -->

</div>

<!-- Recent Posts Section Ends -->

</div><!-- Blog Main Col 4 Ends -->


</div><!-- Blog Main Row Ends -->





</div>  <!-- Container Inner Ends -->


<!-- Container Ends -->
</div>



<!-- Background Container Ends -->

<!-- Subscribe Container Starts -->

<div class="subscribe_section btm_light">
   <div class="container">
     <div class="row mb-4">
       <div class="col-md-6">
           <h2 class="subscribe_heading">Subscribe to <strong>Our Newsletter</strong> Updates!</h2>


  <p class="subscribe_info">Get the latest notifications with our Newsletter Subscription service and get informed about new features of the tool.</p>
 
  
       </div>

       <div class="col-md-6">
            <form class="btm_sub_form">
    <div class="input-group mb-3">
 
  <input type="text" class="form-control" placeholder="Enter Your Email..." id="basic-url" aria-describedby="btm_submit">
   <div class="input-group-prepend">
    <span class="input-group-text" id="btm_submit">
      <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" fill="#fff" stroke="#fff"><title></title><path d="M22.984.638a.5.5,0,0,0-.718-.559L1.783,10.819a1.461,1.461,0,0,0-.1,2.527h0l4.56,2.882a.25.25,0,0,0,.3-.024L18.7,5.336a.249.249,0,0,1,.361.342L9.346,17.864a.25.25,0,0,0,.062.367L15.84,22.3a1.454,1.454,0,0,0,2.19-.895Z"></path><path d="M7.885,19.182a.251.251,0,0,0-.385.211c0,1.056,0,3.585,0,3.585a1,1,0,0,0,1.707.707l2.018-2.017a.251.251,0,0,0-.043-.388Z"></path></svg>
    </span>
  </div>
</div>
  </form>
       </div>
     </div>
   </div>
</div>

<!-- Subscribe Container Ends -->

<!-- Btm Container starts -->
<div class="btm_container btm_light">
<div class="container">

<div class="row">
  

<div class="col-md-3 cbtm_col">
  <div class="btm_logo mb-3">
    <a class="navbar-brand" href="#"><img src="static/picture/logo.png" width="300" alt="Site Logo" class="site_logo"></a>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="logos_btm">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

</div>

<div class="col-md-3 cbtm_col">
  <h6>Useful Links</h6>
  <ul class="btm_ul">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Contact Us</a></li>
  </ul>
</div>

<div class="col-md-3 cbtm_col">
  <h6>Useful Services</h6>
  <ul class="btm_ul">
  <li><a href="#">IT Support</a></li>
  <li><a href="#">Web Development</a></li>
  <li><a href="#">Mobile App Development</a></li>
  <li><a href="#">SEO</a></li>
  <li><a href="#">SEM</a></li>
  </ul>
</div>


<div class="col-md-3 cbtm_col">
  <h6>Address</h6>
   <p><i class="fa fa-envelope"></i> email@domain.com</p>
  <p><i class="fa fa-phone"></i> 111-111-111</p>
  <p><i class="fa fa-globe"></i> knowledgeaware.tk</p>
  
</div>



<div class="text-center cright"><p>Copyright &copy; 2024.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></div>

</div>
</div>
</div>
<!-- Btm container ends -->
</div>


<script src="static/js/luxy.js"></script>
<script src="static/js/aos.js"></script>
<script src="static/js/aos-init.js"></script>
</body>
</html>