<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  

 
<link rel="stylesheet" href="static/css/all.min.css">

<!-- CSS -->

<link rel="stylesheet" type="text/css" href="static/css/style.css">


<script src="static/js/all.min.js"></script>
  

  <!-- Slick Slider -->




  <link rel="stylesheet" type="text/css" href="static/css/slick.css">
  <link rel="stylesheet" type="text/css" href="static/css/slick-theme.css">
  <script src="static/js/slick.min.js"></script>

  <!-- Init Slick Slider -->
  <script src="static/js/slick-init.js"></script>



  <!-- Animate On Scroll  -->



<link href="static/css/aos.css" rel="stylesheet">



	<title>About Us 2</title>

<script src="static/js/main.js"></script>
</head>


<body>
<!-- Page Load Animation -->
<div class="loader">
<div id="pulse-loader">
  <div class="pulse-loader-1"></div>
  <div class="pulse-loader-2"></div>
</div>
</div>
<!-- Back to top button -->
<a id="backtotop"></a>
<!-- Back to top button -->
<a id="backtotop"></a>


<!-- Navbar Starts -->
<nav class="navbar navbar-expand-lg navbar-light cs-nav bg_trans" id="navbar">
  <a class="navbar-brand" href="#"><img src="static/picture/logo.png" width="300" alt="Site Logo" class="site_logo"></a>
  <button class="navbar-toggler navbar-toggle x collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarText" style="">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link drp_icon" href="#">Home <span class="sr-only">(current)</span></a>


         <ul class="nav-dropdown">
              <li><a href="index.html">Home 1</a></li>
              <li><a href="index-2.html">Home 2</a></li>
              <li><a href="index-3.html">Home 3</a></li>
              <li><a href="index-4.html">Home 4</a></li>
              <li><a href="index-5.html">Home 5</a></li>
              <li><a href="index-6.html">Home 6</a></li>
          </ul>


      </li>

      <li class="nav-item">
        <a class="nav-link" href="about-us.html">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Services</a>
        <ul class="nav-dropdown">
              <li><a href="services.html">Services</a></li>
              <li><a href="service-details.html">Service Details</a></li>
          </ul>
      </li>

       <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Pages</a>
        <ul class="nav-dropdown">
   
          <li><a href="#" class="drp_icon_rt">Team</a>

            <ul class="nav-dropdown-sub">
              <li><a href="">Team 1</a></li>
              <li><a href="team-2.html">Team 2</a></li>
      
            </ul>

          </li>
          <li><a href="testimonials.html">Testimonials </a></li>
          <li><a href="under-construction.html">Under Construction</a></li>
          <li><a href="error-404.html">Error Page</a></li>
          <li><a href="coming-soon.html">Coming Soon</a></li>
        </ul>
      </li>
      
       <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Projects</a>

        <ul class="nav-dropdown">


            <li><a href="#" class="drp_icon_rt">Grid Layout</a>

           <ul class="nav-dropdown-sub">
              <li><a href="portfolio-grid-1.html">1 Column</a></li>
              <li><a href="portfolio-grid-2.html">2 Column</a></li>
              <li><a href="portfolio-grid-3.html">3 Column</a></li>

            </ul>

            </li>
    

               <li><a href="portfolio-single-right-sidebar.html">Single Layout</a>
                

            </li>
        


        </ul>


      </li>



      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Blog</a>


        <ul class="nav-dropdown">


             <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog-grid-right-sidebar.html">Right Sidebar</a></li>
              <li><a href="blog-grid-left-sidebar.html">Left Sidebar</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>

          </ul>

      </li>

      <li class="nav-item">
        <a class="nav-link drp_icon" href="#">Contact Us</a>


        <ul class="nav-dropdown">


                   <li><a href="contact-us.html">Contact Us 1</a></li>
              <li><a href="contact-us-2.html">Contact Us 2</a></li>

          </ul>

      </li>
     
 
    </ul>

    <div class="search_container">
      <span class="search_icon">
      <input type="search" id="search">
      <label for="search"></label>
      </span>
    </div>

    <div class="get-quote mobile_hide">
      <a href="#">Request A Quote</a>
    </div>

  </div>
   
</nav>
<!-- Navbar Ends -->

<div id="luxy">

<!-- Background Container Starts -->
<div class="white-bg-abs">


<!-- Slider Container Starts -->
<div class="cs_slider title_container text-center p_rel bg_repeated">
  <div class="slider_container over_lay">
  <h1 class="slider_h1 cs_sp text-center" data-aos="fade-up" data-aos-duration="500">Meet Our Team</h1>
  
 <ul class="page-breadcrumb">
          <li><a href="index.html">Pages</a></li>
          <li>Team</li>
        </ul>
</div>
</div>
<!-- Slider Container Ends -->

<!-- Container Starts -->
<div class="container">



<!-- Team Section starts -->




<!-- Team Row 1 Starts -->
<div class="row col_2_cs_row about_col_2">
 
<!-- Team Col Starts -->
 <div class="col-md-6">
   <h2 class="slider_h1 col_2_h2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">Team <span class="cs_sp">Member 1</span></h2>
   
  <p data-aos="fade-up" data-aos-duration="2000" class="team_1_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p data-aos="fade-up" data-aos-duration="2000" class="team_2_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



<div class="row p_team_row"> 
<div class="col-md-6">
  <div class="team_btn_col" data-aos="fade-up" data-aos-duration="2500"><a href="#" class="btn_team">Get Started</a></div>
</div> <!-- Col 6 ends -->
<div class="col-md-6 text-right">
<div class="social_icons">

  <div class="team_socials" data-aos="fade-up" data-aos-duration="2500">
    <span class="follow f8">FOLLOW ME </span>
   <a href="#"><svg class="svg-inline--fa fa-facebook fa-w-16 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg><!-- <i class="fab fa-facebook fa-2x"></i> --></a>
   <a href="#"><svg class="svg-inline--fa fa-linkedin fa-w-14 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg><!-- <i class="fab fa-linkedin fa-2x"></i> --></a>
   <a href="#"><svg class="svg-inline--fa fa-google fa-w-16 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 488 512" data-fa-i2svg=""><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg><!-- <i class="fab fa-google fa-2x"></i> --></a>
 </div>
</div>

</div> <!-- Col 6 ends -->
</div>
 </div><!-- Team Inner Row ends -->

 <div class="col-md-6" data-aos="fade-up" data-aos-duration="1500">
   <img src="static/picture/team-member-1.jpg" alt="Col 2 Image" class="img-fluid col_2_img">
 </div>

 <!-- Team Col Ends -->


</div>
<!-- Team Row 1 Ends -->


<!-- Team Row 2 Starts -->
<div class="row col_2_cs_row about_col_2">

   <div class="col-md-6" data-aos="fade-up" data-aos-duration="1500">
   <img src="static/picture/team-member-2.jpg" alt="Col 2 Image" class="img-fluid col_2_img">
 </div>
 
<!-- Team Col Starts -->
 <div class="col-md-6">
   <h2 class="slider_h1 col_2_h2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">Team <span class="cs_sp">Member 2</span></h2>
   
  <p data-aos="fade-up" data-aos-duration="2000" class="team_1_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p data-aos="fade-up" data-aos-duration="2000" class="team_2_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



<div class="row p_team_row"> 
<div class="col-md-6">
  <div class="team_btn_col" data-aos="fade-up" data-aos-duration="2500"><a href="#" class="btn_team">Get Started</a></div>
</div> <!-- Col 6 ends -->
<div class="col-md-6 text-right">
<div class="social_icons">

  <div class="team_socials" data-aos="fade-up" data-aos-duration="2500">
    <span class="follow f8">FOLLOW ME </span>
   <a href="#"><svg class="svg-inline--fa fa-facebook fa-w-16 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg><!-- <i class="fab fa-facebook fa-2x"></i> --></a>
   <a href="#"><svg class="svg-inline--fa fa-linkedin fa-w-14 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg><!-- <i class="fab fa-linkedin fa-2x"></i> --></a>
   <a href="#"><svg class="svg-inline--fa fa-google fa-w-16 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 488 512" data-fa-i2svg=""><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg><!-- <i class="fab fa-google fa-2x"></i> --></a>
 </div>
</div>

</div> <!-- Col 6 ends -->
</div>
 </div><!-- Team Inner Row ends -->



 <!-- Team Col Ends -->


</div>
<!-- Team Row 2 Ends -->


<!-- Team Row 3 Starts -->
<div class="row col_2_cs_row about_col_2">
 
<!-- Team Col Starts -->
 <div class="col-md-6">
   <h2 class="slider_h1 col_2_h2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">Team <span class="cs_sp">Member 3</span></h2>
   
  <p data-aos="fade-up" data-aos-duration="2000" class="team_1_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p data-aos="fade-up" data-aos-duration="2500" class="team_2_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



<div class="row p_team_row"> 
<div class="col-md-6">
  <div class="team_btn_col" data-aos="fade-up" data-aos-duration="2500"><a href="#" class="btn_team">Get Started</a></div>
</div> <!-- Col 6 ends -->
<div class="col-md-6 text-right">
<div class="social_icons">

  <div class="team_socials" data-aos="fade-up" data-aos-duration="2500">
    <span class="follow f8">FOLLOW ME </span>
   <a href="#"><svg class="svg-inline--fa fa-facebook fa-w-16 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg><!-- <i class="fab fa-facebook fa-2x"></i> --></a>
   <a href="#"><svg class="svg-inline--fa fa-linkedin fa-w-14 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg><!-- <i class="fab fa-linkedin fa-2x"></i> --></a>
   <a href="#"><svg class="svg-inline--fa fa-google fa-w-16 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 488 512" data-fa-i2svg=""><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg><!-- <i class="fab fa-google fa-2x"></i> --></a>
 </div>
</div>

</div> <!-- Col 6 ends -->
</div>
 </div><!-- Team Inner Row ends -->

 <div class="col-md-6" data-aos="fade-up" data-aos-duration="1500">
   <img src="static/picture/team-member-3.jpg" alt="Col 2 Image" class="img-fluid col_2_img">
 </div>

 <!-- Team Col Ends -->


</div>
<!-- Team Row 3 Ends -->




<!-- Team Row 4 Starts -->
<div class="row col_2_cs_row about_col_2">

   <div class="col-md-6" data-aos="fade-up" data-aos-duration="1500">
   <img src="static/picture/team-member-4.jpg" alt="Col 2 Image" class="img-fluid col_2_img">
 </div>
 
<!-- Team Col Starts -->
 <div class="col-md-6">
   <h2 class="slider_h1 col_2_h2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">Team <span class="cs_sp">Member 4</span></h2>
   
  <p data-aos="fade-up" data-aos-duration="2000" class="team_1_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p data-aos="fade-up" data-aos-duration="2500" class="team_2_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



<div class="row p_team_row" data-aos="fade-up" data-aos-duration="3000"> 
<div class="col-md-6">
  <div class="team_btn_col" data-aos="fade-up"><a href="#" class="btn_team">Get Started</a></div>
</div> <!-- Col 6 ends -->
<div class="col-md-6 text-right">
<div class="social_icons">

  <div class="team_socials" data-aos="fade-up" data-aos-duration="3000">
    <span class="follow f8">FOLLOW ME </span>
   <a href="#"><svg class="svg-inline--fa fa-facebook fa-w-16 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg><!-- <i class="fab fa-facebook fa-2x"></i> --></a>
   <a href="#"><svg class="svg-inline--fa fa-linkedin fa-w-14 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg><!-- <i class="fab fa-linkedin fa-2x"></i> --></a>
   <a href="#"><svg class="svg-inline--fa fa-google fa-w-16 fa-lg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 488 512" data-fa-i2svg=""><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg><!-- <i class="fab fa-google fa-2x"></i> --></a>
 </div>
</div>

</div> <!-- Col 6 ends -->
</div>
 </div><!-- Team Inner Row ends -->



 <!-- Team Col Ends -->


</div>
<!-- Team Row 2 Ends -->






<!-- Team Section ends -->


</div>  <!-- Container Inner Ends -->


<!-- Container Ends -->
</div>




<!-- Reviews Section Starts -->

<div class="bg_colored bg_theme2 slider_grad mt-0 genr_spacing">

<div class="container-fluid">  <!-- Container Inner Starts -->


<h5 class="gb gb_colored mr-auto ml-auto">Feedback From Clients</h5>
<h2 class="cs_h1 text-left pt-0" data-aos="fade-up"><span class="cs_sp clr_default">What Our Clients Say</span></h2>

<div class="reviews_section slider slider-rw2 slider_column">

<div class="rw_content" data-aos="fade-up" data-aos-duration="500">
    <div class="slide_wrapper">
    <div class="float_img"><img class="rw_img client_img_sm" src="static/picture/team-member-1.jpg" alt="Logo"></div>
    <div class="slide_content">
      <h3>John Doe</h3>
       <p class="rw_des">CEO</p>
     <div class="rw_stars">
     <i class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
   </div>

   <p class="rw_p pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   <div class="read_btn_div"><a href="#" class="read_btn">Read More 
      
      <svg enable-background="new 0 0 32 32" class="link_icon" version="1.1" viewbox="0 0 32 32" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.698,15.286l-9.002-8.999  c-0.395-0.394-1.035-0.394-1.431,0c-0.395,0.394-0.395,1.034,0,1.428L19.553,16l-8.287,8.285c-0.395,0.394-0.395,1.034,0,1.429  c0.395,0.394,1.036,0.394,1.431,0l9.002-8.999C22.088,16.325,22.088,15.675,21.698,15.286z" fill="#121313" fill-rule="evenodd"></path><g></g><g></g><g></g><g></g><g></g><g></g></svg>
    </a></div>
  </div>
  </div>
</div>


<div class="rw_content" data-aos="fade-up" data-aos-duration="500">
    <div class="slide_wrapper">
    <div class="float_img"><img class="rw_img client_img_sm" src="static/picture/team-member-2.jpg" alt="Logo"></div>
    <div class="slide_content">
      <h3>John Doe</h3>
       <p class="rw_des">CTO</p>
     <div class="rw_stars">
     <i class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
   </div>

   <p class="rw_p pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   <div class="read_btn_div"><a href="#" class="read_btn">Read More 
      
      <svg enable-background="new 0 0 32 32" class="link_icon" version="1.1" viewbox="0 0 32 32" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.698,15.286l-9.002-8.999  c-0.395-0.394-1.035-0.394-1.431,0c-0.395,0.394-0.395,1.034,0,1.428L19.553,16l-8.287,8.285c-0.395,0.394-0.395,1.034,0,1.429  c0.395,0.394,1.036,0.394,1.431,0l9.002-8.999C22.088,16.325,22.088,15.675,21.698,15.286z" fill="#121313" fill-rule="evenodd"></path><g></g><g></g><g></g><g></g><g></g><g></g></svg>
    </a></div>
  </div>
  </div>
</div>

<div class="rw_content" data-aos="fade-up" data-aos-duration="500">
    <div class="slide_wrapper">
    <div class="float_img"><img class="rw_img client_img_sm" src="static/picture/team-member-3.jpg" alt="Logo"></div>
    <div class="slide_content">
      <h3>John Doe</h3>
       <p class="rw_des">VP</p>
     <div class="rw_stars">
     <i class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
   </div>

   <p class="rw_p pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   <div class="read_btn_div"><a href="#" class="read_btn">Read More 
      
      <svg enable-background="new 0 0 32 32" class="link_icon" version="1.1" viewbox="0 0 32 32" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.698,15.286l-9.002-8.999  c-0.395-0.394-1.035-0.394-1.431,0c-0.395,0.394-0.395,1.034,0,1.428L19.553,16l-8.287,8.285c-0.395,0.394-0.395,1.034,0,1.429  c0.395,0.394,1.036,0.394,1.431,0l9.002-8.999C22.088,16.325,22.088,15.675,21.698,15.286z" fill="#121313" fill-rule="evenodd"></path><g></g><g></g><g></g><g></g><g></g><g></g></svg>
    </a></div>
  </div>
  </div>
</div>


<div class="rw_content" data-aos="fade-up" data-aos-duration="500">
    <div class="slide_wrapper">
    <div class="float_img"><img class="rw_img client_img_sm" src="static/picture/team-member-4.jpg" alt="Logo"></div>
    <div class="slide_content">
      <h3>John Doe</h3>
       <p class="rw_des">Marketing Manager</p>
     <div class="rw_stars">
     <i class="fas fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
   </div>
  
  
   <p class="rw_p pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   <div class="read_btn_div"><a href="#" class="read_btn">Read More 
      
      <svg enable-background="new 0 0 32 32" class="link_icon" version="1.1" viewbox="0 0 32 32" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.698,15.286l-9.002-8.999  c-0.395-0.394-1.035-0.394-1.431,0c-0.395,0.394-0.395,1.034,0,1.428L19.553,16l-8.287,8.285c-0.395,0.394-0.395,1.034,0,1.429  c0.395,0.394,1.036,0.394,1.431,0l9.002-8.999C22.088,16.325,22.088,15.675,21.698,15.286z" fill="#121313" fill-rule="evenodd"></path><g></g><g></g><g></g><g></g><g></g><g></g></svg>
    </a></div>
  </div>
  </div>
</div>




</div>




</div>  <!-- Container Inner Ends -->

</div>
<!-- Reviews Section Ends -->





<!-- Testimonials Section Starts -->
<div class="custom_clients mb3" data-aos="fade-up">
  <div class="container">

        <h2 data-aos="fade-up" class="slider_h1 col_2_h2 text-center">Top Companies<br> <span class="cs_sp">We've Worked With</span></h2>

  
   <p class="text-center txt_para mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

   <div class="row justify-content-center">
      <div class="col-md-2">
          <img class="testimonials_img" src="static/picture/wordpress.png" alt="Logo">
      </div>
      <div class="col-md-2">
          <img class="testimonials_img" src="static/picture/jquery.png" alt="Logo">
      </div>
      <div class="col-md-2">
         <img class="testimonials_img" src="static/picture/bootstrap.png" alt="Logo">
      </div>
      <div class="col-md-2">
          <img class="testimonials_img" src="static/picture/css.png" alt="Logo">
      </div>
      <div class="col-md-2">
          <img class="testimonials_img" src="static/picture/jquery.png" alt="Logo">
      </div>
   </div>
  </div>
</div>
<!-- Testimonials Section Ends -->

<!-- Background Container Ends -->

<!-- Subscribe Container Starts -->

<div class="subscribe_section btm_light">
   <div class="container">
     <div class="row mb-4">
       <div class="col-md-6">
           <h2 class="subscribe_heading">Subscribe to <strong>Our Newsletter</strong> Updates!</h2>


  <p class="subscribe_info">Get the latest notifications with our Newsletter Subscription service and get informed about new features of the tool.</p>
 
  
       </div>

       <div class="col-md-6">
            <form class="btm_sub_form">
    <div class="input-group mb-3">
 
  <input type="text" class="form-control" placeholder="Enter Your Email..." id="basic-url" aria-describedby="btm_submit">
   <div class="input-group-prepend">
    <span class="input-group-text" id="btm_submit">
      <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" fill="#fff" stroke="#fff"><title></title><path d="M22.984.638a.5.5,0,0,0-.718-.559L1.783,10.819a1.461,1.461,0,0,0-.1,2.527h0l4.56,2.882a.25.25,0,0,0,.3-.024L18.7,5.336a.249.249,0,0,1,.361.342L9.346,17.864a.25.25,0,0,0,.062.367L15.84,22.3a1.454,1.454,0,0,0,2.19-.895Z"></path><path d="M7.885,19.182a.251.251,0,0,0-.385.211c0,1.056,0,3.585,0,3.585a1,1,0,0,0,1.707.707l2.018-2.017a.251.251,0,0,0-.043-.388Z"></path></svg>
    </span>
  </div>
</div>
  </form>
       </div>
     </div>
   </div>
</div>

<!-- Subscribe Container Ends -->

<!-- Btm Container starts -->
<div class="btm_container btm_light">
<div class="container">

<div class="row">
  

<div class="col-md-3 cbtm_col">
  <div class="btm_logo mb-3">
    <a class="navbar-brand" href="#"><img src="static/picture/logo.png" width="300" alt="Site Logo" class="site_logo"></a>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="logos_btm">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

</div>

<div class="col-md-3 cbtm_col">
  <h6>Useful Links</h6>
  <ul class="btm_ul">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Contact Us</a></li>
  </ul>
</div>

<div class="col-md-3 cbtm_col">
  <h6>Useful Services</h6>
  <ul class="btm_ul">
  <li><a href="#">IT Support</a></li>
  <li><a href="#">Web Development</a></li>
  <li><a href="#">Mobile App Development</a></li>
  <li><a href="#">SEO</a></li>
  <li><a href="#">SEM</a></li>
  </ul>
</div>


<div class="col-md-3 cbtm_col">
  <h6>Address</h6>
   <p><i class="fa fa-envelope"></i> email@domain.com</p>
  <p><i class="fa fa-phone"></i> 111-111-111</p>
  <p><i class="fa fa-globe"></i> knowledgeaware.tk</p>
  
</div>



<div class="text-center cright"><p>Copyright &copy; 2024.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></div>

</div>
</div>
</div>
<!-- Btm container ends -->

</div>

<script src="static/js/luxy.js"></script>
<script src="static/js/aos.js"></script>
<script src="static/js/aos-init.js"></script>
</body>
</html>